.entry-item{
    width: 12%;
    text-align: center;
}
.main{
    padding: 5px 10px
}

.entry-item1{
    width: 26%;
}
.entry-heading{
    width: 50%;

}
.entry-item2{

    width: 50%;
    text-align: start;
}

.credit{
    margin-left: 12%;
}